---
title: Grapefruit JS
---
<!-- Demo Area -->
<section id="demo">
    <div class="container">
        <div class="row jumbotron">
            <div class="col-md-7">
                <img src="http://lorempixel.com/240/120/" alt="demo here" style="width:100%">
            </div>
            <div class="col-md-5">
                <h3>Lorem Ipsum dolar et yo face</h3>
                <p class="lead" style="color: gray">Bacon ipsum dolor sit amet ground round beef ribeye, shank pork pork loin short ribs bacon ham hock boudin andouille venison rump tail.</p>
                <div class="btn-group btn-group-lg row col-md-12">
                    <button class="btn btn-info col-md-6">Tutorials</button>
                    <button class="btn btn-primary col-md-6">Download</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Main Content Area -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Features</h2>
                <hr />
            </div>
        </div>
        <div class="feature row col-md-offset-1">
            <div class="col-md-6 col-sm-8">
                <h3>Javascript is in its bones...</h3>
                <p>Bacon ipsum dolor sit amet ground round beef ribeye, shank pork pork loin short ribs bacon ham hock boudin andouille venison rump tail. Ribeye kevin bacon, brisket ground round bresaola jerky filet mignon beef ribs boudin frankfurter ham hamburger turducken jowl. Strip steak spare ribs fatback ham pork belly. Spare ribs pork chop beef, capicola corned beef pork bresaola jowl. Kielbasa chuck beef sausage biltong.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/300/200/" alt="" style="width:100%">
                </a>
            </div>
        </div>

        <div class="feature row col-md-offset-1">
            <div class="col-md-4 col-sm-4">
                <a href="#" class="thumbnail">
                    <img src="http://lorempixel.com/320/200/" alt="" style="width:100%">
                </a>
            </div>
            <div class="col-md-6 col-sm-8">
                <h3>HTML5 tattoo... dont ask where.</h3>
                <p>Bacon ipsum dolor sit amet ground round beef ribeye, shank pork pork loin short ribs bacon ham hock boudin andouille venison rump tail. Ribeye kevin bacon, brisket ground round bresaola jerky filet mignon beef ribs boudin frankfurter ham hamburger turducken jowl. Strip steak spare ribs fatback ham pork belly. Spare ribs pork chop beef, capicola corned beef pork bresaola jowl.</p>
            </div>
        </div>
    </div>
    <hr />
</section>
