---
title: Grapefruit JS
---
<script>
    window.LTTP_BASE_URL = '/demos/lttp/';
    window.LTTP_SCALE = 2;
    window.LTTP_TEXT_SCALE = 1;
</script>
<script src="/demos/lttp/js/vendor/require.js" data-main="/demos/lttp/build/js/lttp.js"></script>

<!-- Demo Area -->
<section class="pizzaz widget-container boxed-velvet">
    <div class="jumbotron inner">
        <div class="container">
            <div id="demo" class="col-md-12">
                <div id="game"></div>
                <div class="col-md-5 pull-right learn-more">
                    <h3>JavaScript, 2D Game-Engine</h3>
                    <p class="lead" style="color: gray">
                        Bacon ipsum dolor sit amet ground round beef ribeye, shank pork pork loin short ribs bacon ham hock boudin andouille venison rump tail.
                    </p>
                    <a href="#" class="btn"><span>Tutorials</span></a>
                    <a href="{{ index.downloadUrl }}" class="btn btn-right"><span>Download</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Main Content Area -->
<section id="content">
    <div class="container">
        <!-- Features -->
        <div class="row">
            <div class="text-center title-container" id="features">
                <h1 class="shadowText">Engine Features</h1>
            </div>
            <div class="col-md-3 col-sm-3">
                <ul class="feature-list text-right left ribbons">
                    {{#each index.features.left}}
                        {{> feature}}
                    {{/each}}
                </ul>
            </div>
            <!-- Feature image -->
            <div class="col-md-6 col-sm-6">
                <div class="row monitor">
                    <div class="feature-overview">
                        <div class="feature-overlay">
                            <p class="desc"></p>
                        </div>
                        <div class="feature-overview-frame"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <ul class="feature-list text-left right ribbons">
                    {{#each index.features.right}}
                        {{> feature}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 text-center centered">
                <p>
                    (Screenshot from the <a href="https://github.com/englercj/lttp" target="_blank">lttp</a> project)
                </p>
            </div>
        </div>
        <!-- News -->
        <div class="row">
            <div class="col-md-12 text-center clearfix">
                <div class="title-container">
                    <h1 class="shadowText">News</h1>
                </div>
            </div>
        </div>
        <div class="row col-md-offset-1">
            <a href="#" class="btn btn-follow btn-small"><span>Subscribe</span></a>
        </div>
    </div>
</section>
