---
title: Grapefruit JS
downloadUrl: https://github.com/grapefruitjs/grapefruit
---
<!-- Demo Area -->
<section class="pizzaz widget-container boxed-velvet">
    <div class="jumbotron inner">
        <div class="container">
            <div id="demo" class="col-md-12">
                <div id="game"></div>
                <div class="col-md-5 pull-right learn-more">
                    <h3>Lorem Ipsum dolar et yo face</h3>
                    <p class="lead" style="color: gray">Bacon ipsum dolor sit amet ground round beef ribeye, shank pork pork loin short ribs bacon ham hock boudin andouille venison rump tail.</p>
                    <a href="#" class="btn"><span>Tutorials</span></a>
                    <a href="{{ downloadUrl }}" class="btn btn-right"><span>Download</span></a>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- Main Content Area -->
<section id="content">
    <div class="container">
        <!-- Features -->
        <div class="row">
            <div class="text-center title-container" id="features">
                <h1 class="shadowText">Engine Features</h1>
            </div>
        </div>
        {{#each index.features}}
            <div class="feature row col-md-offset-1">
                <div class="feature-image col-md-4 col-sm-4">
                    <a href="#" class="thumbnail">
                        <img src="{{image}}" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-8">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                </div>
            </div>
        {{/each}}
        <!-- News -->
        <div class="row">
            <div class="col-md-12 text-center clearfix">
                <div class="title-container">
                    <h1 class="shadowText">News</h1>
                </div>
            </div>
        </div>
        <div class="row col-md-offset-1">
            <a href="#" class="btn btn-follow btn-small"><span>Subscribe</span></a>
        </div>
    </div>
</section>
