<li class="feature">
    <h4><a href="#">{{title}}</a></h4>
    <div class="desc hide">
        <div>
            <img src="{{image}}"/>
        </div>
        <p>
            {{description}}
        </p>
    </div>
</li>