<li class="feature">
    <div class="ribbon ribbon-blue">
        <span>
            <h4>{{title}}</h4>
        </span>
    </div>
    <div class="desc" style="display: none;">
        <img src="{{image}}"/>
        <p>
            {{{description}}}
        </p>
    </div>
</li>