body {
	.text-left { text-align: left;}
	.text-right { text-align: right;}

	.feature {
		margin-bottom: 100px;
	}

	#content {
		h1 {
			color: #e7e7e7;
			font-size: 2.5em;

			display: block;

			margin: 0 !important;
			padding: 20px 0;

			border-bottom: 1px solid #080B0E;
			border-top: 1px solid #33393F;
		}
		h4 {
			a {
				// why does this theme overwrite the same link color twice..
				color: #b8c0c8;
				&:hover {
					color: #fff;
				}
			}
		}
		.feature-list {
			margin-top: 26px;
		}

		.title-container {
			width: 500px;
			margin: 20px auto;

			border-top: 1px solid #080B0E;
			border-bottom: 1px solid #33393F;
		}
	}

	hr {
		border: none;
		height: 3px;
		background: #eb8657; /* Old browsers */
		background: -moz-linear-gradient(top,  #eb8657 0%, #dc572c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb8657), color-stop(100%,#dc572c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #eb8657 0%,#dc572c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #eb8657 0%,#dc572c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #eb8657 0%,#dc572c 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #eb8657 0%,#dc572c 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb8657', endColorstr='#dc572c',GradientType=0 ); /* IE6-9 */
	}
}
