#demo {
    height: 350px;
    
    .learn-more {
        position: absolute;
        top: 50px;
        right: 50px;
        //background: rgba(254, 254, 254,.8);
        padding: 0 20px 20px;
        border-radius: 6px;
    }
}

#game {
    width: 512px; //256px;
    height: 448px; //224px;
}